 /* =========== COMMON STYLES =========== */
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
/* =========== /COMMON STYLES =========== */

/* =========== HEADER STYLES =========== */

body {
    font-family: Roboto, sans-serif;    
    color: var(--SLATE, #434455);
    font-weight: 400;
    background: #FFFFFF;
}
button {
    cursor: pointer;
}

.logotype {   
    font-family: Raleway, sans-serif;
    font-size: 18px;        
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}
span {
    color: var(--IRIS, #2E2F42);
}
address {
    font-style: normal;
}

.adr-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

/* .adr-link { 

    color: var(--SLATE, #434455);
} */
.adr-link:hover,
.adr-link:focus {
    color: var(--OCEAN, #404BBF);
}
/* =========== /HEADER STYLES =========== */

/* =========== HERO STYLES =========== */

.sec-hero {
background: var(--NAVY-BLUE, #2E2F42);
} 

.button-hero:hover,
.button-hero:focus {
        color: #404BBF;
}
.button-hero {
        /* Button Text */
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFFFFF);
    }

.hero-title {
        /* Header 1 */
    font-family: Roboto, sans-serif;
    font-size: 56px;  
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;  
    text-align: center;
    background: var(--NAVY-BLUE, #2E2F42);
    color: var(--WHITE, #FFFFFF);    
}
/* =========== /HERO STYLES =========== */

/* =========== FUTURE =========== */

.menu-future {
    /* Header 3 */
    font-family: Roboto, sans-serif;
    font-size: 20px;            
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-future-list {    
        /* Body */
        font-family: Roboto, sans-serif;
        font-size: 16px;        
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: var(--SLATE, #434455);
}

.title-future {
    /* Header 3 */
    font-family: Roboto, sans-serif;
    font-size: 20px;    
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.desc-future {    
        /* Body */
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: var(--SLATE, #434455);
}
/* =========== /FUTURE =========== */

/* =========== OUR TEAM =========== */

.team-sec {
  background: var(--CLOUD, #F4F4FD);
  }
.menu-our-team {
    background: var(--WHITE, #FFFFFF);
}
.our-team {           
        /* Header 2 */
        font-family: Roboto, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--NAVY-BLUE, #2E2F42);
}

.title-team-card {            
        /* Header 3 */
        font-family: Roboto, sans-serif;
        font-size: 20px;        
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.01em;
        color: var(--NAVY-BLUE, #2E2F42);
}
.team-card {    
        /* Body */
        font-family: Roboto, sans-serif;
        font-size: 16px;        
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: var(--SLATE, #434455);
}
/* =========== /OUR TEAM =========== */

/* =========== /OUR PORTFOLIO =========== */

.portfolio {
    background: #FFFFFF;
}
.title-our-portfolio {    
    /* Header 2 */
    font-family: Roboto, sans-serif;
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-title {    
        /* Header 3 */
        font-family: Roboto, sans-serif;
        font-size: 20px;        
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-desc {   
        /* Body */
        font-family: Roboto, sans-serif;
        font-size: 16px;        
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        color: var(--SLATE, #434455);
}
/* =========== /OUR PORTFOLIO =========== */

/* =========== /PAGE FUTER =========== */

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.logo-footer {   
    color: var(--CLOUD, #F4F4FD);
}
  
.desc-footer {
    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 16px;    
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;    
    color: var(--CLOUD, #F4F4FD);
}
/* =========== /PAGE FOOTER =========== */
